<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Classroom Vigilance</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<header class="feature-box right">
    <nav>
        <a href="/home"><img src="/static/images/logo.png" alt="Logo" class="logo"></a>
        
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/reports">Reports</a></li>
            <li><a href="/webcam">Monitor</a></li>
        </ul>
    </nav>
</header>

<header class="feature-box below">
</header>

<section class="details">
    <h1>CLASSROOM VIGILANCE</h1>
</section>

<section class="features">
    <figure>
        <img src="../static/images/test.jpg" alt="YOLOv8 Results 1">
        <figcaption>Sample Input</figcaption>
    </figure>
    <div class="subpart2">
        <figure>
            <img src="../static/images/1.jpg" alt="Image Missing">
            <figcaption>Sample Results</figcaption>
        </figure>
    </div>
</section>

<div class="main">
    <div class="subpart1">
        <h1>Classroom Vigilance - Drowsiness Detection using YOLOv8</h1>
        <h4>FPS of Video</h4>
        <p>FPS represents the Frame Rate. In case of GPU, the FPS will be high, while in case of CPU, the FPS will be low.</p>
        <!-- Add more content as needed -->
    </div>

    
    <div class="about-section">
        <h2>About Classroom Vigilance</h2>
        <p>Welcome to Classroom Vigilance, a web application designed for monitoring classrooms and ensuring a secure and attentive learning environment. Our system utilizes YOLOv8 for drowsiness detection, helping educators and administrators maintain classroom safety.</p>
        <p>Explore the features, view reports, and monitor classrooms seamlessly through our user-friendly interface.</p>
    </div>
</div>

<div class="contactpage">
    <h1>Contact Us</h1>
    <div class="social-links">
        <a href="https://github.com/rish4522" target="_blank"><img src="/static/images/2056021.png" alt="GitHub" height="40px" width="40px"></a>
        <a href="https://www.linkedin.com/in/rishabh-t-b7156b90/" target="_blank"><img src="/static/images/linkedin-icon.png" alt="LinkedIn" height="40px" width="40px"></a>
    </div>
</div>

<footer>
    <img src="/static/images/logo.png" alt="Logo" class="footer-logo">
    <p>Specialization Project &copy; 2023</p>
</footer>
</body>
</html>
